*{
	margin:0;
	padding:0;
	box-sizing: border-box;

}
body{
	font-family:'Poppins',sans-serif;
	font-size: 17px;
	padding: 8px;
}
.navbar{
	display: flex;
	align-items: center;
	padding: 20px;

}
nav{
	flex: 1;
	text-align: right;
}
nav ul{
	display: inline-block;
	list-style-type: none;
}
nav ul li{
	display: inline-block;
	margin-right: 20px;
}
a{
	text-decoration: none;
	color:#555;
}
p{
	color: #555;
}
.container{
	max-width: 1300px;
	margin: auto;
	padding-left: 25px;
	padding-right: 25px;
}
.row{
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap:wrap;
	flex-wrap: wrap;
	margin: 0 -16px;
}
.col-25{
	-ms-flex:25%;
	flex: 25%;
}
.col-50{
	-ms-flex:50%;
	flex: 50%
}
.col-75{
	-ms-flex:75%;
	flex: 75%;
}
.col-25,
.col-50,
.col-75{
	padding: 0 16px;
}
.container1{
	background-color: #f2f2f2;
	padding: 5px 20px 15px;
	border: 1px solid lightgrey;
	border-radius: 3px;
}
input[type=text]{
	width: 100%;
	margin-bottom: 20px;
	padding: 12px;
	border: 1px solid #ccc;
	border-radius: 3px;
}
label{
	margin-bottom: 10px;
	display: block;
}
.icon-container{
	margin-bottom: 20px;
	padding: 7px 0;
	font-size: 24px;
}
.btn{
	background-color: #4CAF50;
	color: white;
	padding: 12px;
	margin: 10px 0;
	border:none;
	width: 100%;
	border-radius: 3px;
	cursor: pointer;
	font-size: 17px;
}
.btn:hover{
	background-color: #45a049;
	color: #2196F3;
}
hr{
	border:1px solid lightgrey;
}
span.price{
	float: right;
	color: grey;
}
@media(max-width: 800px){
	.row{
		flex-direction: column-reverse;
	}
	.col-25{
		margin-bottom: 20px;
	}
	
}